.header {
    text-align: center;
    color: rgb(200, 225, 100);
    border: 10px groove rgb(199, 201, 50);
}

body {
    background-color: rgb(114, 145, 191);
}

.body {
    margin-left: 5em;
    color: white;
}

#a {
    margin-left: 30em;
    width: 4em;
    height: 4em;
    position: absolute;
}

#start {
    margin-top: 2em;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: saddlebrown;
}